h1{
	color:#ffffff ;
	text-align: center;
	font-family: Tangerine;
	text-shadow: 4px 4px 10px #08AB77;
	font-size: 80px;

}
div{
	width:300px;
	height: 300px;
	background-color:  #8FD3BD;
}

.box1{
	width:300px;
	height: 300px;
	background-color: #09533C;
	margin: 20px;
	float:left;
	color:#47E1AE;
	padding:20px;
	/*border-width:15px;
	border-style: double;
	border-color: #11A576;*/

	border: double 15px #11A576;
	overflow: auto;
}


.box1 img{
	width:290px;
	height: 295px;
	opacity: 0;
}
.box1 img:hover{
	opacity: 1;
}
/*.box1:hover{
	background-color: #16AB79;
}*/

#box2{
		width:300px;
		height: 300px;
		background-color: #66EAC0;
}

a{
	font-size:22px;
	color:#71043C;
	text-decoration: none;
}

a:hover{
	color:#E33D93;
	font-weight: 600;
}

.roundedDiv{
	width:300px;
	height: 300px;
	background-color: #138D75;
	margin:50px auto;
	/*border-radius:50% 50% 0 0;*/
}

.linearGrad{
	width:300px;
	height: 300px;
	margin:50px auto;
	background-image: radial-gradient( #138D75,#74E3BE,#2AE1A4 );

}

.shadowDiv{
	width:300px;
	height: 300px;
	background-color: #138D75;
	margin:50px auto;
	box-shadow: 10px 10px 20px #8F9593;

}

.logo{
	width:40%;
	height: 100px;
	float: left;
	background-color: red;
}

.logo img{
	width:120px;
}

.brandName{
	width:60%;
	height: 100px;
	float: left;
	background-color: yellow;
}


.translateDiv{
	width:300px;
	height: 300px;
	background-color: #EE3E06;
	
}

.translateDiv:hover{
	transform: translate(200px, 200px);
}

.rotateDiv{
	width:300px;
	height: 300px;
	background-color: #EE3E06;
	transform: rotate(-90deg);
}

.scaleDiv{
	width:300px;
	height: 300px;
	background-color: #EE3E06;
	transform: scale(0.5, 0.5);
}


.skewDiv{
	width:300px;
	height: 300px;
	background-color: #EE3E06;
	transform:skew(40deg, 20deg);
}

.transDiv{
	width:300px;
	height: 300px;
	background-color: #EE3E06;
	transition:width 2s, height 2s, transform 2s;
	transition-timing-function: ease-in-out;
	/*transition-delay: 2s;*/
}

.transDiv:hover{
	width:600px;
	height: 600px;
	transform:rotate(180deg);
}

.amimateDiv{
	width:150px;
	height: 150px;
	position: relative;
	background-color: #EE3E06;
	animation-name: demo1;
	animation-duration: 7s;
}


@keyframes demo1{
	/*from {background-color: #EE3E06; }
	to {background-color: #6CAB0C;}*/

	0%{
		background-color: #AB2E0C; 
		left:0px; 
		top:0px;
	}

	25%{
		background-color: #CEB519 ; 
		left:300px; 
		top:0px;
	}

	50%{
		background-color: #1C8415; 
		left:300px; 
		top:300px;
	}

	100%{
		background-color: #71107B ; 
		left:0px; 
		top:300px;
	}
}



.relativeDiv{
	width:300px;
	height: 300px;
	background-color: #1C8415;
	position: relative;
	top:100px;
	left:100px;
}

.absolutediv{
	width:150px;
	height: 150px;
	background-color: red;
	position:absolute;
	top:20px;
}

.fixedDiv{
	width:150px;
	height: 50px;
	background-color: red;
	position:fixed;
	bottom:20px;
	right:0;
}